*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:hover{
    border-bottom: 2px solid red;
    
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:red;
}
.mx-5 img {
    text-decoration: none;
    
}
#lastimg{
    width: 85%;
    height: 87%;
    
}
#ac:hover{
    background-color: red;
}

.card-body{
    background-color:#0052a1;
}
.card-body:hover{
    background-color: red;
}